.cart {
    flex: 1;
    margin-top: 20px;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }
  .cartItem {
    width: 50% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fbfbfb;
    border: 1px solid #061ce6;
    width: 100%;
    padding: 15px 10px;
  }
  .cartItemName {
    flex: 1;
    margin-left: 10px;
    color: #4f4fff;
    font-weight: 600;
  }
  .cartItemPrice {
    flex: 1;
    color: #000;
    font-weight: 600;
  }
  .cartItemButton {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5555;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
  }